.input {
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background-color: #b5e61b;

}

.input:focus {
  transition: all 0.3s;
  box-shadow: 0 0 10px black;
}
.error{
  background-color: indianred;
}