.wrapper {
  display: flex;
}

input::placeholder {
  font-size: 15px;
}

.inputValue, .error {
  width: 250px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  transition: all 0.5s;
}

.inputValue:focus {
  border: none;
  background-color: #b5e61b;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.taskAdd {
  font-size: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 30px;
  transition: all 0.5s;
}

.taskAdd:hover {
  background-color: #b5e61b;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error {
  background-color: indianred;
}

.errorText {
  color: red;
}