.todo
{
    position: relative;

    min-width: 300px;
    margin-bottom: 100px;
    padding: 0 30px 30px 30px;
}

h2
{
    text-align: center;
}

.listItem
{
    margin-bottom: 30px;
}

.item
{
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;
    padding: 5px;

    list-style-type: disc;
}

.item input
{
    margin-right: 10px;
}

.item button
{
    font-size: 16px;

    cursor: pointer;

    border: none;
    outline: none;
    background: none;
}

.item button:hover
{
    transition: all .3s;

    color: white;
    border-radius: 5px;
    background: red;
}


.btns button
{
    font-size: 16px;

    margin-bottom: 10px;
    padding: 5px 0;

    cursor: pointer;

    border: none;
    outline: none;
}

.btns button:hover
{
    transition: all .3s;
}

.active
{
    transition: all .3s;

    color: #fff;
    background-color: #b5e61b;
}

.completedTask
{
    opacity: .5;
}

.error
{
    background-color: indianred;
}

.errorText
{
    color: red;
}

.inputWrapper
{
    position: absolute;
    top: 30%;
    left: 50%;

    width: 90%;

    transform: translateX(-50%);
}

.input
{
    position: relative;
}

input::placeholder
{
    font-size: 15px;
}

.input input
{
    font-size: 18px;

    width: 100%;
    padding: 10px 50px 10px 10px;

    border: none;
    border-radius: 5px;
    outline: none;
}

.input button
{
    font-size: 30px;

    position: absolute;
    right: 0;
    bottom: 24px;

    width: 40px;
    height: 46%;

    cursor: pointer;

    border: none;
    outline: none;
}

.input h3
{
    height: 50%;
    margin: 0;
    padding: 0 10px;

    text-align: center;

    color: #fff;
    background-color: #3f51b5;
}

.input .close
{
    cursor: pointer;
}

.deleteTitle
{
    font-size: 15px;

    display: block;

    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 40px;

    cursor: pointer;

    border: none;
    border-radius: 5px;
    outline: none;
}

.btnsBases, .btnsImportance{
    display: flex;
    justify-content: space-between;
}